# JSON Springboard world bank exercise
****
+ reading data from world bank sample JSON file
+ utilize numpy to read data in data frame   
+ undestand the data from file  
+ work on exercise to be completed and submit
****

## imports for Python, Pandas

In [2]:
import json as js
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from IPython.core.display import HTML
import matplotlib as pt

****
## Load world bank JSON  file
+ read JSON file using read_json from pandas
+ quick view at data frame columns & details
+ quick view at data frame rows

In [3]:
# load as Pandas dataframe
df_projects_main = pd.read_json('data/world_bank_projects.json',encoding='UTF-8')

# quick view of columns and details 
df_projects_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [4]:
# peek into few rows
df_projects_main.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [5]:
# see all columns in single view
HTML(df_projects_main.head(2).to_html())

****
## JSON exercise

The questionUsing data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

1. Find the 10 countries with most projects

Approach 
1. Check & confirm no country code and country name data is empty
2. Check if country code and country name data is 1:1 mapping
3. Group by country code and count to get the top 10 countries

In [6]:
# checked above with info() no country code and country data is empty
#check code and country make unique pair. The answer if 1 ,shows code & name is unique for country
df_projects_main.groupby(['countrycode','countryname']).countryname.nunique().max()

1

In [7]:
#Find the 10 countries with most projects
# value count is sorted by values . take top 10
df_projects_main.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Nepal                              12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

'2. Find the top 10 major project themes (using column 'mjtheme_namecode')

Approach 
1. Check & confirm no country code and country name data is empty
2. Check if country code and country name data is 1:1 mapping
3. Group by country code and count to get the top 10 countries

In [8]:
# load json as string
data_json=js.load((open('data/world_bank_projects.json')))
#data_json

# utlize json_normalize to get data frame with code ,name and other details
df_theme=json_normalize(data_json,record_path='mjtheme_namecode',meta=['project_name','countrycode','countryname'],)

# set index to code 
df_theme=df_theme.set_index('code').sort_index()

# quick view of columns and details 
df_theme.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1499 entries, 1 to 9
Data columns (total 4 columns):
name            1499 non-null object
project_name    1499 non-null object
countrycode     1499 non-null object
countryname     1499 non-null object
dtypes: object(4)
memory usage: 58.6+ KB

In [9]:
# peek into few rows
df_theme.head()

,name,project_name,countrycode,countryname
code,,,,
1,Economic management,Second Governance and Competitiveness Developm...,ST,Democratic Republic of Sao Tome and Prin
1,Economic management,Public Sector Management and Social Inclusion ...,UY,Oriental Republic of Uruguay
1,Economic management,Second Programmatic Fiscal Sustainability and...,CO,Republic of Colombia
1,Economic management,Second Programmatic Fiscal Sustainability and...,CO,Republic of Colombia
1,Economic management,Tonga Economic Recovery Operation II,TO,Kingdom of Tonga

In [11]:
# checked above with info() no  code and name data is empty
#check code and name make unique pair. The answer if 1 ,shows code & name is unique for category
df_theme.groupby(['code','name']).name.nunique().max()

1

In [12]:
#Find the top 10 major project themes
# value count is sorted by values . take top 10
df_theme.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [ ]:
# there is blank name entry with 122 rows above

'3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

Approach 
1. mjtheme_namecode column is a JSON object value(check above df). Need to utilize normalize to get data
2. Load the json content and utilize normalize to get data frame with namd & code with few columns like project name , project country. project name and country is required to view frame with more clarity
3. Utilize replace and fillna to fill the missing values in name

In [13]:
# replace blanks with Nan
df_name_fill=df_theme.replace('',np.nan) #fillna(method='bfill')
# ffill all nan
df_name_fill['name']=df_name_fill['name'].fillna(method='ffill')
# to check if still have empty or null
#df_name_fill[(df_name_fill.name=='') | df_name_fill.name.isnull()]

In [14]:
# checked above with info() no  code and name data is empty
#check code and name make unique pair. The answer if 1 ,shows code & name is unique for category
df_name_fill.groupby(['code','name']).name.nunique().max()

1

In [15]:
# replace blanks with Nan
df_name_fill=df_theme.replace('',np.nan) #fillna(method='bfill')
# ffill all nan
df_name_fill['name']=df_name_fill['name'].fillna(method='ffill')
# to check if still have empty or null
#df_name_fill[(df_name_fill.name=='') | df_name_fill.name.isnull()]

In [16]:
#Find the top 10 major project themes
# value count is sorted by values . take top 10
df_name_fill.name.value_counts().head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64